<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.sg.workflow.terraform</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7435AF5B-1AD9-46AB-9B55-AF779E67B2FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8FC6047-6CCE-44B3-935B-59201542A3CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF93EBC6-536A-40C0-A7B3-B7EE09AF689C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90363F32-F164-490B-A110-1E6FBFB76379</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7435AF5B-1AD9-46AB-9B55-AF779E67B2FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7BEB017-5D4D-4710-A2D6-24130D3C4741</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7F91E9B-72A6-498D-92F5-7509884E0401</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE295F19-F247-44F1-ADFB-6252A7FCA9AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90363F32-F164-490B-A110-1E6FBFB76379</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8FC6047-6CCE-44B3-935B-59201542A3CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D1D0D39-ECD6-450A-AC15-4F85D71655B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31F7C4FA-3D39-40CF-89C4-2623EFBFD529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Control Terraform and Terragrunt</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terraform</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6D1D0D39-ECD6-450A-AC15-4F85D71655B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "tfswitch 0.12.31"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8FC6047-6CCE-44B3-935B-59201542A3CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"switch","arg":"switch","subtitle":"switch"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>90363F32-F164-490B-A110-1E6FBFB76379</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>terraform</string>
				<key>subtext</key>
				<string>Control Terraform</string>
				<key>text</key>
				<string>Control Terraform</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE295F19-F247-44F1-ADFB-6252A7FCA9AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>switch</string>
						<key>outputlabel</key>
						<string>switch</string>
						<key>uid</key>
						<string>AF93EBC6-536A-40C0-A7B3-B7EE09AF689C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7435AF5B-1AD9-46AB-9B55-AF779E67B2FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>31F7C4FA-3D39-40CF-89C4-2623EFBFD529</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"switch","arg":"switch","subtitle":"switch"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B7F91E9B-72A6-498D-92F5-7509884E0401</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>terragrunt</string>
				<key>subtext</key>
				<string>Control Terragrunt</string>
				<key>text</key>
				<string>Control Terragrunt</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A7BEB017-5D4D-4710-A2D6-24130D3C4741</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>31F7C4FA-3D39-40CF-89C4-2623EFBFD529</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>6D1D0D39-ECD6-450A-AC15-4F85D71655B7</key>
		<dict>
			<key>xpos</key>
			<integer>995</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>7435AF5B-1AD9-46AB-9B55-AF779E67B2FB</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>90363F32-F164-490B-A110-1E6FBFB76379</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>A7BEB017-5D4D-4710-A2D6-24130D3C4741</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>B7F91E9B-72A6-498D-92F5-7509884E0401</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>BE295F19-F247-44F1-ADFB-6252A7FCA9AD</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>C8FC6047-6CCE-44B3-935B-59201542A3CE</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
